* {
  font-family: "Inter", -apple-system, system-ui, 'Segoe UI', Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 60px;
  font-weight: 800;
}

p {
  font-size: 20px;
  font-weight: 300;
  font-style: italic
}

a {
  color: rgba(230,210,255);
  font-weight: 400;
}

a:hover {
  text-decoration: none;
  opacity: 0.6;
}
